<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="convertByteOrShortToInt" value="true" />
        <option name="iconName" value="arrow" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="tempFilePath" value="C:\Users\ADMINI~1\AppData\Local\Temp\libhello.dll6607958048236683739" />
        <option name="useActualParamNames" value="true" />
        <option name="usejava8LocalDateTimeEct" value="true" />
        <option name="userMacSet">
          <set>
            <option value="17271806BB8E" />
          </set>
        </option>
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>