<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="generateMethodInService" value="true" />
        <option name="generateMethodInServiceInterface" value="true" />
        <option name="generateWithIfTest" value="true" />
        <option name="iconName" value="gray" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="tempFilePath" value="C:\Users\ADMINI~1\AppData\Local\Temp\libhello.dll623612133552134181" />
        <option name="useActualParamNames" value="true" />
        <option name="usejava8LocalDateTimeEct" value="true" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>