<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="convertByteOrShortToInt" value="true" />
        <option name="iconName" value="arrow" />
        <option name="ifTestStringNullAndEmpty" value="true" />
        <option name="tempFilePath" value="C:\Users\ADMINI~1\AppData\Local\Temp\libhello.dll3780604991411418985" />
        <option name="useActualParamNames" value="true" />
        <option name="usejava8LocalDateTimeEct" value="true" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>